.a {
  font-size: 55px;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 100px;
  color: transparent;
  text-transform: uppercase;
  background-image: linear-gradient(to left, #0f0, #f00, #00f, #f0f, #f71414);
  -webkit-background-clip: text;
  animation: animate 8s linear infinite;
  -webkit-background-size: 500%;
  background-size: 500%;
  width: 100%;
}

.lup {
    font-size: 20px;
    color: gray;
    font-family: sans-serif;
    float: left;
    margin-bottom: 300px;
    position: relative;
    text-align: center;
}

@keyframes animate {
  0% {
    background-position: 0 100%;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 100%;
  }
}


.x,
td,
td {
  border: 1px solid grey;
  text-align: left;
  margin-top: 10px;
}

.x {
  width: 100%;
  animation: fadeUp 10s;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #4caf50;
  color: white;
}

th,
td {
  padding: 5px;
  height: 50px;
}

.b {
  background-color: #d7f8ff;
  width: 150px;
  height: 100px;
  margin-bottom: 90px;
  margin-left: 80px;
  text-align: center;
  font-family: sans-serif;
  padding: 5px;
  border: 5px solid #27dbff;
  border-radius: 8px;
  float: left;
}

.o {
  background-color: #b7fdc0;
  width: 160px;
  height: 110px;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 90px;
  border: 5px solid #08fe26;
  border-radius: 8px;
  float: left;
  margin-left: 200px;
}

.e {
  background-color: #dddddd;
  width: 150px;
  height: 100px;
  margin-bottom: 90px;
  margin-left: 200px;
  text-align: center;
  font-family: sans-serif;
  padding: 5px;
  border: 5px solid grey;
  border-radius: 8px;
  float: left;
}

.mn {
  background-color: #f9ffcb;
  width: 160px;
  height: 110px;
  text-align: center;
  font-family: sans-serif;
  border: 5px solid #e4ff00;
  border-radius: 8px;
  float: left;
  margin-left: 200px;
  margin-bottom: 90px;
}

sup {
  color: red;
  position: absolute;
  margin-left: 27px;
  margin-top: -1.8cm;
  animation: fadeUp 10s;
}
.g {
  color: white;
}

.mn,
.o,
.b,
.c,
.d,
.e {
  animation: fadeUp 5s;
}

@keyframes fadeUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

td:hover {
  background-color: gray;
  color: black;
}

button {
  border: 3px solid skyblue;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 70%;
  animation: fadeUp 10s;
}

button:hover {
  background-color: lightskyblue;
}

.y {
  width: 100%;
  animation: fadeUp 10s;
}


.j {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  background-color: lightgrey;
  opacity: 90;
  width: 50%;
  border-radius: 15px;
  border: none;
  animation: fadeUp 5s;
}
.k {
  background-color: rgb(6, 255, 6);
  font-family: sans-serif;
  border-radius: 15px;
  width: 400px;
  border: none;
  color: black;
  animation: fadeUp 5s;
}

.m {
  background-color: rgb(255, 249, 198);
  font-family: sans-serif;
  border-radius: 15px;
  border: none;
  width: 400px;
  color: black;
  animation: fadeUp 5s;
}




.j:hover {
  background-color: rgb(254, 255, 199);
  color: black;
}

.k:hover {
  background-color: lightcoral;
  color: black;
}

.m:hover {
  background-color: lightsteelblue;
}

@media screen and (max-width: 728px) {
  .a {
    font-size: 0.6cm;
  }
  .b {
    width: 40%;
    margin-left: 4%;
    margin-bottom: 20px;
  }
  .o {
    width: 42%;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .e {
    width: 40%;
    margin-left: 10px;
    margin-bottom: 50px;
  }
  .mn {
    width: 42%;
    margin-left: 4%;
    margin-bottom: 10px;
  }
  .x{
      width: 100%;
      table-layout: auto;
      margin-left: -4px;
  }
}

@media screen and (min-width: 768px) {
  .a {
    font-size: 1cm;
  }
  .b {
    margin-left: 15%;
  }

  .mn {
    margin-left: 15%;
  }
}

@media screen and (min-width: 1024px) {
  .a {
    font-size: 1cm;
  }
  .b {
    margin-left: 5%;
  }
  .o {
    margin-left: 8%;
  }
  .mn {
    margin-left: 8%;
  }
  .e {
    margin-left: 5%;
  }
}

@media screen and (min-width: 1280px) {
  .a {
    font-size: 1.4cm;
  }
  .b {
    margin-left: 10%;
  }
  .o {
    margin-left: 10%;
  }
  .mn {
    margin-left: 10%;
  }
  .e {
    margin-left: 10%;
  }
}
@media screen and (min-width: 1560px) {
  .a {
    font-size: 1.8cm;
  }
  .b {
    margin-left: 10%;
  }
  .o {
    margin-left: 15%;
  }
  .mn {
    margin-left: 15%;
  }
  .e {
    margin-left: 15%;
  }
  .j{
      width: 55%;
  }
  .k{
      width: 430px;
  }
  .m{
      width: 430px;
  }
}
